﻿@using PagedList.Mvc
@model  FizzBuzz.Web.Models.FizzBuzzData
@{
    ViewBag.Title = "Home Page";
}

<div>
    @using (Html.BeginForm("GetData", "FizzBuzz", FormMethod.Post, new { id = "frm1", name = "frm1" }))
    {
        <label>Enter value between 1 to 1000</label>
        @Html.TextBoxFor(m => m.UserInput)
        @Html.ValidationMessageFor(m => m.UserInput, "", new { @class = "fizzerror" })
        <button id="btnSubmit" type="submit">Submit</button>

        if (Model != null)
        {
            <div id="data_grid">
                <table>
                    @foreach (string s in Model.FizzBuzzList.ToList<string>())
                    {
                        <tr>
                            <td>
                                @if (@s == "fizz")
                                {
                                    <span class="fizz">fizz</span>
                                }
                                else if (@s == "buzz")
                                {
                                    <span class="buzz">buzz</span>
                                }
                                else if (@s == "fizz buzz")
                                {
                                    <span class="fizz">fizz</span>@Html.Raw("&nbsp;")<span class="buzz">buzz</span>
                                }
                                else
                                {
                                    @s
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div id="container" style="margin-left: 20px">
                <div class="pagination" style="margin-left: 400px">
                    Page @(Model.FizzBuzzList.PageCount < Model.FizzBuzzList.PageNumber ? 0 : Model.FizzBuzzList.PageNumber) of @Model.FizzBuzzList.PageCount

                    @Html.PagedListPager(Model.FizzBuzzList, page => Url.Action("GetData", "FizzBuzz", new { ViewBag.UserInput, page }))
                </div>
            </div>
        }

    }
</div>